<md-dialog aria-label="Question Dialog" class="question-dialog" flex="90">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{item._id ? 'Edit ' + item.identifier : 'New Question'}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="navigation:close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <form name="questionForm">
                <div layout="row">
                    <md-input-container class="md-block" flex="30">
                        <label>Question ID</label>
                        <input required name="identifier" ng-model="item.identifier">
                        <div class="input-message hint" ng-if="!questionForm.identifier.$dirty">The unique question identifier</div>
                        <div class="input-message error-msg" ng-messages="questionForm.identifier.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10">
                        <label>Grade</label>
                        <md-select name="grade" ng-model="item.grade" required>
                            <md-option ng-value="g" ng-repeat="g in meta.grades">{{g}}</md-option>
                        </md-select>
                        <div class="input-message hint" ng-if="!questionForm.grade.$dirty">Grade</div>
                        <div class="input-message error-msg" ng-messages="questionForm.grade.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>BTLO</label>
                        <md-select name="btlo" ng-model="item.btlo" required>
                            <md-option ng-value="btlo" ng-repeat="btlo in meta.btlos">{{btlo}}</md-option>
                        </md-select>
                        <div class="input-message hint" ng-if="!questionForm.btlo.$dirty">Blooms Level</div>
                        <div class="input-message error-msg" ng-messages="questionForm.btlo.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="10">
                        <label>Difficulty Level</label>
                        <md-select name="difficultyLevel" ng-model="item.difficultyLevel" required>
                            <md-option ng-value="dl" ng-repeat="dl in meta.diffLevels">{{dl}}</md-option>
                        </md-select>
                        <div class="input-message hint" ng-if="!questionForm.difficultyLevel.$dirty">Difficulty Level</div>
                        <div class="input-message error-msg" ng-messages="questionForm.difficultyLevel.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container flex="20">
                        <label>Level</label>
                        <md-select name="es_difficultyLevel" ng-model="item.es_difficultyLevel" required>
                            <md-option ng-value="l" ng-repeat="l in meta.es_diffLevels">{{l}}</md-option>
                        </md-select>
                        <div class="input-message hint" ng-if="!questionForm.es_difficultyLevel.$dirty">Difficulty Level</div>
                        <div class="input-message error-msg" ng-messages="questionForm.es_difficultyLevel.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex="10">
                        <label>Concept Code</label>
                        <input required name="conceptCode" ng-model="item.conceptCode">
                        <div class="input-message hint" ng-if="!questionForm.conceptCode.$dirty">The concept code</div>
                        <div class="input-message error-msg" ng-messages="questionForm.conceptCode.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" flex="10">
                        <label>Max Attempts</label>
                        <md-select name="maxAttempts" ng-model="item.maxAttempts" required>
                            <md-option ng-value="a" ng-repeat="a in meta.attempts">{{a}}</md-option>
                        </md-select>
                        <div class="input-message hint" ng-if="!questionForm.state.$dirty">Maximum number of attempts</div>
                    </md-input-container>
                    <md-input-container flex="30">
                        <label>Status</label>
                        <md-select name="status" ng-model="item.state" required>
                            <md-option ng-value="state" ng-repeat="state in meta.states">{{state}}</md-option>
                        </md-select>
                        <div class="input-message hint" ng-if="!questionForm.es_difficultyLevel.$dirty">Difficulty Level</div>
                        <div class="input-message error-msg" ng-messages="questionForm.es_difficultyLevel.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <hr />
                <div layout="row">
                    <div class="md-block question-image-container" flex="30">
                        <input id="qimg" type="file" ng-model="questionImage" name="questionImage" base-sixty-four-input required onload="onLoad"
                            maxsize="500" accept="image/*" class="question-image-input">
                        <label for="qimg">
                            <!--<div ng-style="{'background-image': url({{item.questionImage || 'http://placehold.it/300x200'}})}"></div>-->
                            <img ng-src="{{item.questionImage || 'http://placehold.it/300x200'}}" />
                        </label>
                    </div>
                    <md-input-container class="md-block" flex="70">
                        <label>Question Stem</label>
                        <textarea required name="questionStem" rows="3" ng-model="item.questionText" md-select-on-focus></textarea>
                        <div class="input-message hint" ng-if="!questionForm.questionStem.$dirty">Write the question stem</div>
                        <div class="input-message error-msg" ng-messages="questionForm.questionStem.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <br />
                <md-divider></md-divider>
                <div layout="row" ng-repeat="step in item.steps">
                    <div layout="column" flex layout-fill ng-cloak>
                        <h4 class="md-primary">Step #{{$index+1}}</h4>
                        <div layout="row">
                            <md-input-container flex="70">
                                <label>Step text</label>
                                <textarea required name="step" rows="1" ng-model="step.text" md-select-on-focus></textarea>
                                <div class="input-message hint" ng-if="!questionForm.step.$dirty">Write the step</div>
                                <div class="input-message error-msg" ng-messages="questionForm.step.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                            <md-input-container flex="30">
                                <md-button class="md-primary md-hue-1" ng-click="configResponses($event, step)">Configure Responses</md-button>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="row">
                    <md-input-container flex>
                        <label>Hint </label>
                        <textarea required name="hint" rows="1" ng-model="item.hintText" md-select-on-focus></textarea>
                        <div class="input-message hint" ng-if="!questionForm.hint.$dirty">Write the step</div>
                        <div class="input-message error-msg" ng-messages="questionForm.hint.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Expressions </label>
                        <textarea name="expressions" rows="1" ng-model="item.expressions" md-select-on-focus></textarea>
                        <div class="input-message hint" ng-if="!questionForm.expressions.$dirty">Write expressions one line per expression</div>
                    </md-input-container>
                </div>
                <hr />
                <h2>Comments</h2>
                <div layout="row">
                    <md-input-container flex>
                        <label>Add your comments </label>
                        <textarea name="comment" rows="1" ng-model="userComment" md-select-on-focus></textarea>
                        <md-button ng-click="addComment()" class="md-primary">Add Comment</md-button>
                    </md-input-container>
                </div>
                <div layout="column" class="comment-block" ng-repeat="comment in item.comments" flex>
                    <div class="md-block comment-user-info">{{comment.commentedBy}} commented {{getDisplayableTime(comment.created)}}</div>
                    <div class="md-block comment-text">{{comment.comment}}</div>
                </div>
            </form>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="closeDialog()" class="md-primary">Cancel</md-button>
        <md-button ng-click="saveQuestion($event)" class="md-primary">Save</md-button>
    </md-dialog-actions>
</md-dialog>